@import "colors";
.authors-title {
  font-size: xx-large;
  border-bottom: 2.3px solid black;
}
.author-list-container{
  .author-info{
    .author-info-text{
      font-size: x-large;
    }
    .icons{
      .edit-button{
        color: $edit_btn_color;
        width: 22px;
        height: 22px;
        cursor: pointer;
      }
      .delete-button{
        color: $delete_btn_color;
        width: 25px;
        height: 25px;
        cursor: pointer;
      }
    }

    &:hover{
      background-color: $list_hover_color;
    }
  }
}

.author-form-container{
  .author-form-title{
    font-size: x-large;
    color: $form_title_color;
  }
  .author-form{
    .author-name-group{
      .author-input-label{
        font-size: small;
      }
      .author-input{
        box-shadow: none;
        border-radius: 0;
        border-color: #959595;
      }
    }

  }
  .submit-author-btn{
    background-color: $form_btn_color;
  }
}

.add-author{
  cursor: pointer;
  .plus-btn{
    color: $plus_icon_color;
    cursor: pointer;
  }
}

//Media Queries

@media screen and (max-width: 768px) {
  .authors-title {
    font-size: x-large;
    border-bottom: 2px solid black;
  }
  .author-list-container{
    .author-info{
      .author-info-text{
        font-size: large;
      }
      .icons{
        .edit-button{
          color: $edit_btn_color;
          width: 20px;
          height: 20px;
        }
        .delete-button{
          color: $delete_btn_color;
          width: 23px;
          height: 23px;
        }
      }
    }
  }

  .author-form-container{
    .author-form-title{
      border-bottom: 5px solid $form_title_color;
      font-size: x-large;
      color: $form_title_color;
    }
  }
  .author-form{
    .author-name-group{
      .author-input-label{
        font-size: medium;
      }
      .author-input{
        font-size: medium;
      }
    }

  }
}