@import "./Partials/breakpoints";
.Library{
  .Welcome-Screen{
    img{
      height: auto;
      width: 100%;
    }
    .Welcome-Screen-Title{
      text-align: center;
    }
    .photo-credits{
      text-align: right;

    }
  }
}
@media screen and (max-width: $small) {
  .photo-credits{
    font-size: small;
  }
}